.header-page{
    padding: 0.5em;
    background-color: var(--fondo-Cabecera);
    color: white;
    width: 100%;
    margin: 0px auto auto;
}

.barra-menu{
    display: flex;
    height: 38px;
    background-color: var(--fondo-Menu);
    width: 100%;
}

select{
    background: transparent;
    border: none;
    font-size: 14px;
    height: 35px;
    padding: 5px;
    color: var(--celeste);
    font-weight: bold;
    margin-right: 10px;
}

#año{
    padding-right: 15px;
}

#cargo{
    padding-right: 30px;
}

#distrito{
    padding-right: 30px;
}

.barra-menu button{
    margin: 5px;
    margin-right: 15px;
    margin-left: -15px;
    height: 28px;
}

.botones-3{
    position: relative;
    left: 10px;
}

.filtrar{
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    font-size: 10px;
    font: #FFF;
    text-transform: uppercase;
    text-align: center;
    color: var(--textos);
    width: 90px;
}

.generales{
    background-color: var(--celeste);
    border-radius: 5px;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    width: 95px;
}

.generales:hover{
    background-color: var(--gris-claro);
}

.informes{
    background-color: black;
    border-radius: 15px;
    border: 1px solid white;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    width: 95px;
}

.informes:hover{
    background-color: var(--gris-claro);
}

.inicio{
    background-color: var(--gris-claro);
    border-radius: 5px;
    padding: 5px;
    position: relative;
    left: 670px;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    width: 95px;
}

.inicio:hover{
    color: var(--textos);
}

.barra-de-mensajes p{
    position: relative;
    top: 30px;
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    color: #FFffFF;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
}

.mens1{
    background-color: var(--mensaje-usuario-verde);
}

.mens2{
    background-color: var(--mensaje-usuario-rojo);
}

.mens3{
    background-color: var(--mensaje-usuario-amarillo);
}

#sec-titulo h1{
    margin: 70px 100px 5px;
}

.texto-path{
    margin-left: 100px;
    font-size: 14px;
    font-family: 'Roboto';
    color: var(--celeste);
}

#sec-contenido button{
    background-color: var(--gris-claro);
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    width: 170px;
    height: 25px;
    margin-top: 50px;
    margin-left: 100px;
}

#sec-contenido button:hover{
    color: var(--textos);
}

#Capa_1{
    position: relative;
    bottom: 43px;
}

.mesas{
    position: relative;
    bottom: 50px;
    left: 600px;
    background-color: var(--celeste);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    width: 184px;
    height: 70px;
    margin: 15px;
}

.mesas p{
    font-size: 12px;
    color: #FFF;
    margin-top: 10px;
    padding-left: 50px;
    line-height: 1.5;
}

#Layer_1{
    position: relative;
    bottom: 38px;
}

.electo{
    position: relative;
    bottom: 135px;
    left: 800px;
    background-color: var(--magenta);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    height: 70px;
    width: 184px;
    margin: 15px;
}

.electo p{
    font-size: 12px;
    color: #FFF;
    padding-top: 5px;
    padding-left: 50px;
}

#Layer_2{
    position: relative;
    bottom: 50px;
}

.escru{
    position: relative;
    bottom: 220px;
    left: 1000px;
    background-color: var(--morado);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    height: 70px;
    width: 184px;
    margin: 15px;
}

.escru p{
    font-size: 12px;
    color: #FFF;
    padding-top: 5px;
    padding-left: 50px;
}